@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins",sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #6700EE;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #00f7ff;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul a {
  display: block;
  padding: 0 1em;
}

.social-nav-header, .hero-design {
  display: none;
}

.hero {
  background-color: #6E00FF;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.hero h2 {
  color: #FF64ED;
  margin-top: 1em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #FF64CB;
}

.meet span {
  margin-top: 1em;
  margin-right: 1em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

.vector-image {
  display: none;
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background-color: #6700EE;
    padding: 2em 2em 2em 4em;
  }
  .social-nav-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-nav-header {
    display: block;
  }
  .social-nav-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 7em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    float: right;
    margin-right: 10px;
  }
  .social-nav-header ul li {
    padding-left: 20px;
  }
  .social-nav-header ul img {
    width: 30px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background-color: #6E00FF;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero .content h2 {
    font-size: 1.5em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
}

@media only screen and (min-width: 1250px) {
  .social-nav-header {
    padding: 2em 10em 2em 0;
  }
}

.circle {
  animation: circleAnime .5s infinite alternate-reverse;
}

@-webkit-keyframes circleAnime {
  from {
    -webkit-transform: translate(146px, 598px);
            transform: translate(146px, 598px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(146px, 630px);
            transform: translate(146px, 630px);
  }
}

@keyframes circleAnime {
  from {
    -webkit-transform: translate(146px, 598px);
            transform: translate(146px, 598px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(146px, 630px);
            transform: translate(146px, 630px);
  }
}
/*# sourceMappingURL=main.css.map */